@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$fontfamily: 'Cabin', sans-serif;
:root{
    --barckground-banner: #F0EEEB;
    --font-color:#000;
    --font-btn: #fff;
}
@media screen and (max-width:1024px) {
    .container{
        width: 100%;
        min-height: 100vh;
        position: relative;
        overflow-x: hidden;
        header.header__spense{
            width: 100%;
            .container__header__spense{
                width: 100%;
                nav.navbar__spense{
                    width: 650px;
                }
            }
        }
        section.banner__spence{
            width: 100%;
            padding: 0px 10px;
            min-height: 100%;
            .container__banner__spense{
                width: 100%;
                .row__banner__spense{
                    .box__banner__spense{
                        width: 100%;
                    }
                }
            }
        }
        section.icon__spense{
            padding: 30px 10px;
            .container__icon__spense{
                width: 100%;
                .row__icon__spense{
                    .box__icon__spense{
                        flex-wrap: wrap;
                        img{
                            width: 250px;
                            margin: 20px 20px;
                        }
                    }
                }
            }
        }
        section.banner__hero__mockup{
            padding: 30px 0px;
            .container__banner__hero__mockup{
                width: 100%;
                .row__banner__hero__mockup{
                    .box__text__hero__mockup{
                        width: 500px;
                    }
                    .box__img__hero__mockup{
                        width: 500px;
                        height: 300px;
                        background-image: url('../images/Phone\ Mockup\ \(Desktop\).png');
                        background-repeat: no-repeat;
                        background-position-x: -350px;
                        background-size: cover;
                        img{
                            display: none;
                        }
                    }
                }
            }
        }
        section.editor__spense{
            padding: 50px 10px;
            .container__editor__spense{
                width: 100%;
                .row__editor__spense{
                    .box__editor__spense{
                        width: 100%;
                    }
                }
            }
        }
        section.img__spense{
            padding: 30px 10px;
            .container__img__spense{
                width: 100%;
                .row__img__spense{
                    .box__img__spense{
                        width: 100%;
                    }
                }
            }
        }
        footer{
            padding: 50px 10px;
            .container__footer{
                width: 100%;
            }
        }
    }
}
@media screen and (max-width:768px) {
    .container{
        width: 100%;
        min-height: 100vh;
        position: relative;
        overflow-x: hidden;
        header.header__spense{
            width: 100%;
            .container__header__spense{
                width: 100%;
                nav.navbar__spense{
                    width: 550px;
                }
            }
        }
        section.banner__spence{
            width: 100%;
            padding: 0px 10px;
            min-height: 100%;
            .container__banner__spense{
                width: 100%;
                .row__banner__spense{
                    .box__banner__spense{
                        width: 100%;
                    }
                }
            }
        }
        section.icon__spense{
            padding: 30px 10px;
            .container__icon__spense{
                width: 100%;
                .row__icon__spense{
                    .box__icon__spense{
                        flex-wrap: wrap;
                        img{
                            width: 200px;
                            margin: 20px 0px;
                        }
                    }
                }
            }
        }
        section.banner__hero__mockup{
            padding: 30px 0px;
            .container__banner__hero__mockup{
                width: 100%;
                .row__banner__hero__mockup{
                    .box__text__hero__mockup{
                        width: 500px;
                    }
                    .box__img__hero__mockup{
                        width: 500px;
                        height: 300px;
                        background-image: url('../images/Phone\ Mockup\ \(Tablet\).png');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        img{
                            display: none;
                        }
                    }
                }
            }
        }
        section.editor__spense{
            padding: 50px 10px;
            .container__editor__spense{
                width: 100%;
                .row__editor__spense{
                    .box__editor__spense{
                        width: 100%;
                    }
                }
            }
        }
        section.img__spense{
            padding: 30px 10px;
            .container__img__spense{
                width: 100%;
                .row__img__spense{
                    .box__img__spense{
                        width: 100%;
                    }
                }
            }
        }
        footer{
            padding: 50px 10px;
            .container__footer{
                width: 100%;
            }
        }
    }
}
@media screen and (max-width:570px){
    .container{
        width: 100%;
        min-height: 100vh;
        position: relative;
        overflow-x: hidden;
        header.header__spense{
            width: 100%;
            padding: 4% 3%;
            transition: 0.5s;
            .container__header__spense{
                width: 100%;
                .logo{
                    a{
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
                .hamburger{
                    width: 30px;
                    height: 20px;
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    z-index: 350;
                    cursor: pointer;
                    span.bar{
                        width: 100%;
                        height: 3px;
                        background-color: #000;
                        border-radius: 5px;
                        transition: 0.5s;
                    }
                }
                .hamburger.rotate{
                    span.bar:first-child{
                        transform: rotate(45deg) translate(7px,7px);
                        transition: 0.5s;
                    }
                    span.bar:nth-child(2){
                        opacity: 0;
                        transition: 0.5s;
                        transform: translateX(20px);
                    }
                    span.bar:last-child{
                        transform: rotate(-45deg) translate(5px,-5px);
                        transition: 0.5s;
                    }
                }
                nav.navbar__spense{
                    width: 100%;
                    position: fixed;
                    top: -450px;
                    right:0;
                    left: 0;
                    background-color: var(--barckground-banner);
                    min-height: 0;
                    z-index: 300;
                    overflow-y: hidden;
                    flex-direction: column;
                    justify-content: flex-start;
                    transition: 0.5s;
                    ul.list__spense{
                        flex-direction: column;
                        margin-top: 20%;
                        li.list__item__spense{
                            padding: 10px 0px;
                            margin: 10px 0px;
                        }
                    }
                    .btn__header{
                        width: 100%;
                        text-align: center;
                        button.btn__header__spense{
                            display: block;
                            margin: 20px auto;
                        }
                    }
                }
                nav.navbar__spense.navShow{
                    min-height: 50vh;
                    top: 45px;
                    transition: 0.5s;
                }
            }
        }
        header.header__spense.header__Sticky{
            position: fixed;
            top: 0;
            background-color: var(--barckground-banner);
            transition: 0.5s;
            overflow-y: hidden;
        }
        section.banner__spence{
            width: 100%;
            .container__banner__spense{
                width: 100%;
                .row__banner__spense{
                    flex-direction: column-reverse;
                    padding-top: 80px;
                    .box__banner__spense{
                        width: 100%;
                        form{
                            width: 100%;
                            input[type="email"]{
                                width: 100%;
                                margin: 10px 0px;
                                text-align: center;
                            }
                            button.btn__input{
                                width: 100%;
                                margin: 0px;
                            }
                        }
                    }
                    .box__img__spense{
                        width: 100%;
                    }
                }
            }
        }
        section.icon__spense{
            padding: 50px 10px;
            .container__icon__spense{
                width: 100%;
                .row__icon__spense{
                    .box__icon__spense{
                        flex-wrap: wrap;
                        width: 100%;
                        img{
                            width: 160px;
                            margin: 20px 0px;
                        }
                    }
                }
            }
        }
        section.banner__hero__mockup{
            padding: 30px 0px;
            .container__banner__hero__mockup{
                width: 100%;
                .row__banner__hero__mockup{
                    flex-direction: column;
                    padding: 0px;
                    .box__text__hero__mockup{
                        width: 100%;
                        padding: 5px;
                        text-align: center;
                        h1{
                            font-size: 30px;
                        }
                    }
                    .box__img__hero__mockup{
                        width: 100%;
                        height: 300px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-image: url('../images/Phone\ Mockup\ \(Mobile\).png');
                        img{
                            display: none;
                        }
                    }
                }
            }
        }
        section.editor__spense{
            padding: 30px 10px;
            .container__editor__spense{
                width: 100%;
                .row__editor__spense{
                    .box__editor__spense{
                        width: 100%;
                        text-align: center;
                        h1{
                            font-size: 30px;
                        }
                    }
                }
            }
        }
        section.img__spense{
            padding: 30px 10px;
            .container__img__spense{
                width: 100%;
                .row__img__spense{
                    .box__img__spense{
                        width: 100%;
                    }
                }
            }
        }
        footer{
            padding: 50px 10px;
            .container__footer{
                width: 100%;
                .row__footer{
                    flex-direction: column-reverse;
                    .box__footer__text{
                        width: 100%;
                        text-align: center;
                        margin: 50px 0px;
                    }
                    .box__footer__list{
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:360px) {
    .container{
        width: 100%;
        min-height: 100vh;
        position: relative;
        overflow-x: hidden;
        section.banner__spence{
            width: 100%;
            padding: 0px 10px;
            .container__banner__spense{
                width: 100%;
                .row__banner__spense{
                    flex-direction: column-reverse;
                    padding-top: 80px;
                    .box__banner__spense{
                        width: 100%;
                        h1{
                            font-size: 30px;
                        }
                        ul{
                            li{
                                img{
                                    margin-right: 5px;
                                }
                            }
                        }
                        form{
                            width: 100%;
                            input[type="email"]{
                                width: 100%;
                                margin: 10px 0px;
                                text-align: center;
                            }
                            button.btn__input{
                                width: 100%;
                                margin: 0px;
                            }
                        }
                    }
                    .box__img__spense{
                        width: 100%;
                    }
                }
            }
        }
        section.icon__spense{
            padding: 50px 10px;
            .container__icon__spense{
                width: 100%;
                .row__icon__spense{
                    .box__icon__spense{
                        flex-wrap: wrap;
                        width: 100%;
                        img{
                            width: 130px;
                            margin: 20px 0px;
                        }
                    }
                }
            }
        }
    }
}